body {
    background-color: rgb(212, 230, 245);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: rgb(24, 73, 116);
}


table {
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(24, 73, 116);
    /* text-align: left; */
    min-width: 700px;
}

th {
    background-color: rgb(153, 203, 247);
}

td {
    text-align: left;
    padding: 2px 15px 2px 2px;
    border-top: 1px solid rgb(24, 73, 116);
}

.tag {
    /* text-align: left; */
    background-color: white;
    font-family: monospace;
}